@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body, html {
        background: linear-gradient(180deg, rgba(8,72,255,1) 30%, rgba(8,72,255,0.3253676470588235) 100%);
    }

    section#login {
        width: 80vw;
        height: 320px;
    }

    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 65%;
        display: block;
    }

    div#formulario > h1 {
        font-size: 2em;
        display: block;
    }

    div#formulario > p {
        font-size: 1.2em;
        font-weight: bold;
    }
    
    #cont {
        margin-top: 160px;
    }

    form input[type=submit] {
        width: 65%;
        margin-top: 5px;
    }
    
}

@media screen and (min-width: 993px) {
    body, html {
        background: linear-gradient(180deg, rgba(8,72,255,1) 30%, rgba(8,72,255,0.3253676470588235) 100%);
    }

    section#login {
        width: 960px;
        height: 340px;

    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: left;
        width: 50%;
    }

    #cont {
        margin-top: 160px;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
        font-weight: bold;
    }

    form input[type=submit] {
        width: 50%;
        margin-top: 5px;
    }
}